<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIZXLH-TXk1f2XF4VAF_6X5_cuBPmno1U</string>
	<key>GCM_SENDER_ID</key>
	<string>457727618581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.symptoScanFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>symptoscan-d05e3</string>
	<key>STORAGE_BUCKET</key>
	<string>symptoscan-d05e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457727618581:ios:c41548ac77e0042b6ee81c</string>
</dict>
</plist>